<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="oric.Properties.Settings.connectionString" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=islampetrolpump;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PetrolPump.Properties.Settings.islampetrolpumpConnectionString" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=islampetrolpump;Integrated Security=True;Encrypt=True" providerName="System.Data.SqlClient" />
    <add name="PetrolPump.Properties.Settings.MustafaCompanyConnectionString" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=MustafaCompany;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PetrolPump.Properties.Settings.E__DISELPETROLPUMP_PETROLPUMP_PETROLPUMP_BIN_DEBUG_DISELPETROLPUMP_MDFConnectionString" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=E:\DISELPETROLPUMP\PETROLPUMP\PETROLPUMP\BIN\DEBUG\DISELPETROLPUMP.MDF;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PetrolPump.Properties.Settings.DiselPetrolPumpConnectionString" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=DiselPetrolPump;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AiProvider" value="Groq" />
    <add key="GroqApiKeys" value="" />
    <add key="GroqModel" value="openai/gpt-oss-20b" />
    <add key="GeminiApiKeys" value="" />
    <add key="GeminiModel" value="gemini-2.5-flash" />
    <!-- Google Drive direct upload (ek dafa Google Cloud OAuth Desktop Client ID) -->
    <add key="GoogleDriveClientId" value="" />
    <add key="GoogleDriveClientSecret" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>